<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css"/>
    <title>Home-page</title>
</head>
<body>
    <div class="navbar">
        <div class="section">
        <a href="http://localhost:8080/home">Home</a>
        <a href="http://localhost:8080/about">About Us</a>
        <a href="http://localhost:8080/contact">Contact Us</a>
        <a href="http://localhost:8080/dlview">DL View</a>
        </div>
        <div class="login">
        <button onclick="localhost:8080/login"><a href="http://localhost:8080/login">Login</a></button>
        <button onclick="localhost:8080/admin"><a href="http://localhost:8080/admin">Admin</a></button>
        </div>
    </div>
    <div class="background-image">
        <!-- Content for the div with background image -->
        <div class="overlay">
            <h1>Welcome to Digital Library</h1>
        </div>
    </div>
</body>
</html>